* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.main-wrap {
    width: 100%;
    display: flex;
}

.main-wrap .main-head {
    width: 60px;
    height: 100vh;
    background-color: rgb(10, 149, 149);
    overflow: hidden;
    transition: .3s ease-in-out;
}

.main-wrap .main-head.active {
    width: 20%;
}

.main-wrap .main-head .main-nav {
    width: 100%;
}

.main-wrap .main-head .main-nav .navbar {
    width: 100%;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title {
    padding: 15px 20px;
    border-bottom: 1px solid azure;
    transition: .2s ease;
}

.main-wrap .main-head.active .main-nav .navbar .navbar-nav .title {
    padding: 15px 13px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
    color: azure;
    position: relative;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .title h3 .title-text {
    position: absolute;
    left: 35px;
    opacity: 0;
    transition: .2s ease;
}

.main-wrap .main-head.active .main-nav .navbar .navbar-nav .title h3 .title-text {
    opacity: 1;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list {
    margin: 0;
    padding: 10px 10px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list .nav-list-item {
    padding: 15px 10px;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list .nav-list-item:hover {
    background: rgb(4, 41, 41);
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list .nav-list-item .navlink {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: azure;
    position: relative;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list .nav-list-item .navlink i {
    font-size: 25px;
}

.main-wrap .main-head .main-nav .navbar .navbar-nav .nav-list .nav-list-item .navlink .link-text {
    position: absolute;
    top: 3px;
    left: 35px;
    opacity: 0;
    transition: .2s ease-in-out;
}

.main-wrap .main-head.active .main-nav .navbar .navbar-nav .nav-list .nav-list-item .navlink .link-text {
    opacity: 1;
}

.main-wrap .showcase {
    width: 97%;
    height: 100vh;
    background: url('./images/hero\ 3.png') no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: .3s ease-in-out;
}

.main-wrap .showcase.width {
    width: 80%;
}

.main-wrap .showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.main-wrap .showcase .head {
    padding: 13px 25px;
}

.main-wrap .showcase .head .toggler {
    display: inline-block;
    background: transparent;
    border: none;
    outline: 0;
    color: azure;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease;
}

.main-wrap .showcase .head .toggler:hover {
    background: rgb(10, 149, 149);
}

.main-wrap .showcase .head .toggler i {
    font-size: 20px;
}

.main-wrap .showcase .content {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
}

.main-wrap .showcase .content .main-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrap .showcase .content .main-area .content-text {
    width: 700px;
}

.main-wrap .showcase .content .main-area .content-text h1 {
    font-size: 60px;
    color: azure;
    margin-top: 100px;
}

.main-wrap .showcase .content .main-area .content-text p {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}

 .btn {
    padding: 5px 25px;
    background-color: azure;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px rgb(26, 55, 82);
    font-weight: bold;
}

.btn:hover {
    background-color:  rgb(10, 149, 149);
    color: azure;
}